<h1>Editing cheat</h1>

<% form_for(@cheat) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :language_id %><br />
    <%= f.text_field :language_id %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @cheat %> |
<%= link_to 'Back', cheats_path %>