<p>
  <b>Language:</b>
  <%=h @cheat.language_id %>
</p>

<p>
  <b>Content:</b>
  <div class="wmd-preview"></div>
  <form style='display:none;'>
    <textarea id="cheat-content" style="width: 500px; height: 200px;"><%=h @cheat.content %></textarea>
  </form>
</p>


<%= link_to 'Edit', edit_cheat_path(@cheat) %> |
<%= link_to 'Back', cheats_path %>

<%= javascript_include_tag 'wmd/wmd.js' %>
